
</div>


<script src="/vendorAssets/js/jquery-3.7.1.min.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>

<script src="/vendorAssets/js/feather.min.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>

<script src="/vendorAssets/js/jquery.slimscroll.min.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>

<script src="/vendorAssets/js/bootstrap.bundle.min.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>

<script src="/vendorAssets/js/apexcharts.min.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>
<script src="/vendorAssets/js/chart-data.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>

<script src="/vendorAssets/js/sweetalert2.all.min.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>
<script src="/vendorAssets/js/sweetalerts.min.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>

<script src="/vendorAssets/js/script.js" type="701eb75930d4e38dda809fc4-text/javascript"></script>
<script src="/vendorAssets/js/rocket-loader.min.js" data-cf-settings="701eb75930d4e38dda809fc4-|49" defer=""></script>




</body>
</html>