<%- include('../layouts/header.ejs') %>

<style>
    body {
        background: url(./images/wrapp.avif);
        background: white;
    }

    .profile-container .profile-image {
        text-align: center;
    }

    .profile-container .profile-image img {
        border-radius: 100%;
        border: 3px solid white;
        outline: 1px solid #88c8f765;
    }

    .photo_camera {
        margin: 0 50%;
        transform: translateX(-50%);
        border-radius: 100%;
        transform: translate(20px, -25px);
        border: 3px solid white;
        outline: 1px solid #88c8f765;
        background-color: white;
        color: #5655559d;
        position: absolute;
    }

    .form-container form label {
        font-size: 12px;
        margin: 10px 0;
    }

    .form-container form {
        padding: 10px;
        font-family: Mulish;
    }

    .form-container form input,
    textarea {
        display: block;
        padding: 18px 30px;
        border-radius: 10px;
        color: #3d3d3d;
        border: 1px solid #1933642e;
        outline: none;
        margin: 10px 0;
        width: 100%;
    }

    .form-container form button {
        width: 100%;
        padding: 18px 10px;
        border-radius: 10px;
        border: 1px solid #1933642e;
        outline: none;
        background-color: #193364;
        color: orange;
        font-size: 15px;
        font-weight: bolder;
    }
</style>

<div style="padding: 20px; display: flex; justify-content: space-between; align-items: center;">
    <a href="/profilePage/profile"><span class="material-symbols-outlined">chevron_left</span></a>
    <span><b>Change Password</b></span>
    <span></span>
</div>

<div class="profile-container">

    <div class="form-container">
        <form action="" method="post">
            <label for="current_password">Current Password</label>
            <input type="password" id="current_password" name="current_password"  required>

            <label for="new_password">New Password</label>
            <input type="text" id="new_password" name="new_password" required>

            <label for="confirm_password">Confirm Password</label>
            <input type="text" id="confirm_password" name="confirm_password" required>

            <button type="button" onclick="updateData()">Save Changes</button>
        </form>
    </div>
</div>
<script>


    function updateData() {
    let formData = {
        current_password:  document.getElementById("current_password").value,
        new_password:  document.getElementById("new_password").value,
        confirm_password:  document.getElementById("confirm_password").value
    }

    if (formData.current_password.length === 0 || formData.new_password.length === 0 || formData.confirm_password.length === 0 ) {
        swal("ERROR", "Input's cannot be empty.", "warning")   
    }else if (formData.new_password.length < 8){
        swal("Error", "Password must be at least 8 characters long.", "warning")
    }else if (formData.new_password != formData.confirm_password) {
        swal("ERROR", "Passwords do not match. Please make sure both fields are identical.", "warning")   
    }else {
        fetchRequest()
    }

    function fetchRequest() {
        let url = "/profilePage/updatePassword";
    fetch(url, {
        method: "POST",
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "Error") {
            swal(`${data.status}`, `${data.message}`, `warning`);
        } else if (data.status === 'Success') {
            swal(`${data.status}`, `${data.message}`, `success`);    
            setTimeout(() => {
                window.location.href = '/profilePage/profile'
            }, 1500);                
        }
    });
    }
}
</script>
<%- include('../layouts/footer.ejs') %>